<main id="mainAdminPerfil">
    <div id="linkContainer">
        <div class="linkSection">
            <h2 class="titles">Alunos</h2>
            <a href="/exibirTodosOsAlunos" class="functionLinks">Exibir Alunos</a>
            <a href="/cadastrarAluno" class="functionLinks">Cadastrar Aluno</a>
        </div>
        <div class="linkSection">
            <h2 class="titles">Aulas</h2>
            <a href="/exibirTodasAsAulas" class="functionLinks">Exibir Aulas</a>
            <a href="/cadastrarAula" class="functionLinks">Cadastrar Aula</a>
        </div>
        <div class="linkSection">
            <h2 class="titles">Financeiro</h2>
            <a href="/financeiro" class="functionLinks">Financeiro</a>

        </div>
        
        
    </div>
    
</main>

<script src="../js/simularSenha.js"></script>