<main id="mainCadastrarAula">

    <form action="#" id="formCadastrarAula">
        <h1 id="tituloForm">Cadastrar Aula</h1>

        <div class="inputContainer">
            <label for="" class="labelInput">Nome da Aula</label>
            <input type="text" name="nome" class="input">
        </div>

            <h2 for="" class="labelInput">Dias da Aula</h2>
        <div class="inputContainer inputCheckboxContainer">
            <div class="checkboxContainer">
                <input type="checkbox" name="dia" id="segundaInput" value="segunda" class="input checkbox">
                <label for="segundaInput" class="checkboxText">Segunda-Feira</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="dia" id="tercaInput" value="terça" class="input checkbox">
                <label for="tercaInput" class="checkboxText">Terça-Feira</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="dia" id="quartaInput" value="quarta" class="input checkbox">
                <label for="quartaInput" class="checkboxText">Quarta-Feira</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="dia" id="quintaInput" value="quinta" class="input checkbox">
                <label for="quintaInput" class="checkboxText">Quinta-Feira</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="dia" id="sextaInput" value="sexta" class="input checkbox">
                <label for="sextaInput" class="checkboxText">Sexta-Feira</label>
            </div>
        </div>
            <h2 for="" class="labelInput">Horário da Aula</h2>
        <div class="inputContainer inputCheckboxContainer">
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="0730-0900" value="07:30 - 09:00" class="input checkbox">
                <label for="0730-0900" class="checkboxText">07:30 - 09:00</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="0900-1030" value="09:00 - 10:30" class="input checkbox">
                <label for="0900-1030" class="checkboxText">09:00 - 10:30</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="1430-1600" value="14:30 - 16:00" class="input checkbox">
                <label for="1430-1600" class="checkboxText">14:30 - 16:00</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="1600-1730" value="16:00 - 17:30" class="input checkbox">
                <label for="1600-1730" class="checkboxText">16:00 - 17:30</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="1730-1900" value="17:30 - 19:00" class="input checkbox">
                <label for="1730-1900" class="checkboxText">17:30 - 19:00</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="1800-1900" value="18:00 - 19:00" class="input checkbox">
                <label for="1800-1900" class="checkboxText">18:00 - 19:00</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="1900-2030" value="19:00 - 20:30" class="input checkbox">
                <label for="1900-2030" class="checkboxText">19:00 - 20:30</label>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" name="horario" id="2030-2200" value="20:30 - 22:00" class="input checkbox">
                <label for="2030-2200" class="checkboxText">20:30 - 22:00</label>
            </div>
        </div>
            
        <input type="submit" id="submit" value="Cadastrar Aula">
        <div id="validacaoContainer"></div>
    </form>

</main>

<script src="/js/cadastrarAula.js"></script>