<main id="mainEsqueceuASenha">
    <form action="#" id="esqueceuASenhaForm">
        <h1 id="titleEsqueceuASenha">Esqueceu a Senha?</h1>
        <div id="inputContainer">
            <label for="emailInput" class="label">Email</label>
            <input type="email" placeholder="Digite aqui seu email" name="email" class="input" id="emailInput">
        </div>
        <input id="submit" type="submit" value="Enviar">
        <div id="validacaoContainer"></div>
    </form>
</main>

<script src="/js/esqueciASenhaClient.js"></script>