<main id="mainGerarBoletos">

    <form action="#" id="gerarBoletosContainer">
        <label for="mes">Mês:</label>
        <select id="mes" name="mes">
            <option value="0">Janeiro</option>
            <option value="1">Fevereiro</option>
            <option value="2">Março</option>
            <option value="3">Abril</option>
            <option value="4">Maio</option>
            <option value="5">Junho</option>
            <option value="6">Julho</option>
            <option value="7">Agosto</option>
            <option value="8">Setembro</option>
            <option value="9">Outubro</option>
            <option value="10">Novembro</option>
            <option value="11">Dezembro</option>
        </select>
        <input id="gerarBoletos" type="submit" value="Gerar Boletos">
    </form>

    <div id="boletosContainer"></div>
</main>

<script src="../js/gerarBoletos.js"></script>