<main id="mainValidarEmail">
    <div id="containerValidarEmail">
        <h1 id="tituloValidarEmail">Valide seu Email: {{{emailData.email}}}</h1>

        <div id="btnContainer">
           <button id="btnEnviarEmail">Enviar Código</button>
           <p id="paragrafoDoEnviarEmail">Após o envio, verifique se o código chegou no seu email</p>
           
        </div>
        <div id="validacaoContainer"></div>
    </div>
</main>

<script src="../js/validarEmail.js"></script>